.about-me {
    max-width: 500px; 
    background-color: #333;
    margin: 10px auto;
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-me img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-me p {
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 430px;
    margin: 10px auto;
  }

  .about-me h2{
    font-size: 30px;
    margin: 0.5rem 0;
  }
  